.section-nav {
    position: fixed;
    width: fit-content;
    top: 80%;
    left: 0;
    transform: translateY(-50%);
    height: 100%;
  }
  
  .section-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .section-nav li {
    margin: 10px 0;
  }
  
  .section-nav a {
    display: block;
    margin-left: 10px;
    padding: 20px;
    color: #dadada;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    transition: all 0.2s ease;
  }
  
  .section-nav a:hover {
    font-size: 20px;
    transition: all 0.2s ease;
  }

  .section-nav-date{
    display: flex;
    padding: 20px;
  }

  .section-nav-date p {
    margin-top: 200px;
    padding-left: 10px;
    font-size: 18px;
    color: #dadada;
    font-family:'Courier New', Courier, monospace;
    font-weight: 400;
  }

  @media (max-width: 720px) {

    .section-nav{
        display: none;
    }

  }

